<fieldset>
  <legend>My names Jeff</legend>
  <div class="form-group">
    <label>Enable token rename</label>
    <div class="form-fields">
      <input
        type="checkbox"
        name="flags.my-names-jeff.enableTokenRename"
        {{#if enableTokenRename}}checked{{/if}}
      />
    </div>
    <p class="notes">When enabled the token will be renamed when dropped to
      canvas</p>
  </div>
</fieldset>