.my-names-jeff.token-names-wrap {
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    height: calc(100% + 100px);
    top: -50px;
    left: -140px;
    display: flex;
    gap: 10px;
    pointer-events: all;

    button {
        color: gray;
        &:hover {
            color: white;
        }
    }
}