.my-names-jeff.token-names-wrap {
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    height: calc(100% + 100px);
    top: -50px;
    left: -70px;
    display: flex;
    gap: 10px;
    pointer-events: all;

    button {
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 15px var(--color-shadow-dark);
        border: 1px solid #333;
        border-radius: 8px;
        color: var(--color-text-light-2);
        &:hover {
            color: var(--color-text-light-1);
        }
    }
}